.lky-header {
  text-align: center;
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.lky-body {
  padding: 5px;
}

.lky-link-container {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.lky-input-container {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.lky-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.lky-input {
  padding: 0px 15px;
  outline: none;
  width: 100%;
}

.lky-link:hover {
  background-color: #f1f1f1;
}

.lky-link-link {
  font-family: 'Open Sans',serif;
  text-decoration: none;
  color: black;
  overflow: none;
}

.lky-link-button {
  font-family: 'Open Sans',serif;
}

.h-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-fullwidth {
  width: 100%;
}
